node_modules
npm-debug.log
dist
coverage
.git
.gitignore
.vscode
.idea
.env
.env.*
!.env.example
Dockerfile
docker-compose.yml
README.md
*.md
test
upload
public/images/company
public/images/resume
public/images/pdf
**/*.log
.DS_Store
